*{
    margin: 0px;
    padding: 0px;
}
body{
background-color: rgb(42, 165, 58);
}

header{
    display: flex;
}

.header__navegacion{
    background-color: rgb(42, 165, 58);
}

.header__list{
    font-family:monospace;
    color: rgb(42, 165, 58);
    font-weight: 400px;
    font-size: 20px;
}

.logoprincipal{
    width: 300px;
    height: 100px;
    background-color:rgb(53, 53, 53);
}

li{
display: inline;
}

ul{
    list-style-type: none;
}
h1{
    font-size: 45px;
    color: black
}

.boton{
width: 185px;
height: 30px;    
border-radius: 20px;
border: 2px solid  rgb(42, 165, 58);
}

.boton1{
    margin-top: 45px;
    width: 185px;
    height: 30px;    
    border-radius: 20px;
    border: 2px solid  rgb(42, 165, 58);
    }

footer{
    display: flex;
    background-color:rgb(53, 53, 53);
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 5px;
}
.footer__titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-align: center;
}
.sucursales__titulo2{
    color: red;
    font-size: 30px;
}
.flotaindex__auto{
    width: 200px ;
    height: 150px;
    border-radius: 15px;
}

.flotaindex__auto2{
    width: 190px ;
    height: 150px;  
    border-radius: 15px; 
}

.flotaindex__auto:hover{
height: 200px;
width: 300px;
}

.flotaindex__auto2:hover{
    height: 200px;
    width: 300px;
}

.flotaindex__linea{
    font-size: 15px;
    font-weight: 700;
    font-family: monospace;
}
.flotaindex__titulo{
    font-size: 35px;
    font-weight: 800;
    font-family: monospace;    
}

.flotaindex{
    display: flex;
}

.portada__titulo2{
    display: flex;
    margin-left: 5rem;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    font-family: monospace ;
}

.mainindex{
        display: flex;
        text-align:center;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 250px;
        margin-right: 10px;
        margin-left: 10px;
        background-color: white;
        border-radius: 20px;
        width: 1300px;
        height: 1000px;
        border: 2px solid black;
}

.flotaindex__fondo{
    display: flex;
    padding: 10px;
    margin-top: 2rem;
    margin-right: 10px;
    margin-left: 10px;
    background-color: rgb(53, 53, 53);
    border-radius: 20px;
    width: 100rem;
    height: 14rem;
    border: 2px solid black; 
}

.nuestraflota{
    text-align:center;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: white;
    border-radius: 20px;
    width: 1300px;
    height: 1350px;
    border: 2px solid black; 
}

.nuestraflota__flota{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: rgb(53, 53, 53);
    border-radius: 20px;
    width: 1200px;
    height: 1300px; 
    border: 2px solid black;
}

.nuestraflota__auto1{
width: 25.5%;
height: 20%;
border-radius: 5px;

}
.nuestraflota__titulo{
    font-size: 35px;
    font-weight: 800;
    font-family: monospace;
    color: white;
}

.nuestraflota__titulo3{
    font-size: 20px;
    font-weight: 800;
    font-family: monospace;
    color: white;
}

.nuestraflota__auto{
    border-radius: 5px;
    background-color: rgb(53, 53, 53);
}

.nuestraflota__loquiero{
    font-size: 25px;
    font-family: monospace;
    color:  rgb(42, 165, 58);
}

.reservaindex__titulo{
    text-align: center;
    font-family: monospace;
    font-size: 1.1rem;
}

.botonindex{
    margin: 1rem;
    margin-right: 60rem;
    margin-top: 5rem;
    border-radius: 5px;
    height: 3rem;
    width: 8rem;   
}

.botonnews{
    border-radius: 5px;
    height: 30px;
    width: 130px;
    background-color: rgb(53, 53, 53);
}

.reservaindex__select{
    border-radius: 5px;
    background-color: rgb(53, 53, 53);
    width: 100px;
    height: 35px;
    
}
.footer__redes{
    width:40px;
    left: 1180px;
}

.maincontactanos{
    text-align:center;
    padding: 10px;
    margin-left: 400px;
    margin-top: 10px;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 20px;
    width: 550px;
    height: 400px;
    border: 2px solid black;
}

.maincontactanos__formulario{
    padding: 10px;
    margin-top:15px;
    margin-left: 15px;
    margin-bottom: 45px;
    background-color: rgb(53, 53, 53);
    border-radius: 20px;
    width: 500px;
    height: 350px;
    border: 2px solid black;
}
.maincontactanos__titulo{
    font-family: monospace;
    font-size: 60px;
}

.maincontactanos__titulo2{
    font-family: monospace;
    font-size: 25px;
}

.maincontactanos__inputs{
    width: 180px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid black;
}

.reservas{
    text-align:center;
    padding: 10px;
    margin-left: 400px;
    margin-top: 10px;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 20px;
    width: 550px;
    height: 400px;
    border: 2px solid black;
}

.reservas__fondo{
    padding: 10px;
    margin-top:15px;
    margin-left: 15px;
    margin-bottom: 45px;
    background-color: rgb(53, 53, 53);
    border-radius: 20px;
    width: 500px;
    height: 350px;
    border: 2px solid black;
}

.reservas__select{
    text-align:center;
    padding: 5px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(42, 165, 58);
    border-radius: 20px;
    width: 400px;
    height: 70px;
}
.reservas__titulo{
    font-size: 25px;
    font-family: monospace;
}
.reservas__titulo2{
    font-size: 25px;
    font-family: monospace;
}

.sucursales__aeropuerto{
    text-align:center;
    padding: 5px;
    margin-top: 35px;
    margin-left: 35px;
    margin-right: 35px;
    background-color: rgb(53, 53, 53);
    border-radius: 20px;
    width: 400px;
    height: 550px;
}

.sucursales__centro1{
    text-align:center;
    padding: 5px;
    margin-top: 35px;
    margin-left: 35px;
    margin-right: 35px;
    background-color: rgb(53, 53, 53);
    border-radius: 20px;
    width: 400px;
    height: 550px;
}

.sucursales__centro2{
    text-align:center;
    padding: 5px;
    margin-top: 35px;
    margin-left: 35px;
    margin-right: 35px;
    background-color: rgb(53, 53, 53);
    border-radius: 20px;
    width: 400px;
    height: 550px;
}

.sucursales__imagencentro1{
    width: 300px;
    height: 200px;
}

.sucursales__titulo{
    font-size: 50px;
    font-family: monospace;
}

.newsletter{
    display: flex;
}